.socials-row{
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-icon {
    margin-right: 10px;
}

.socials-container {
    display: flex;
    flex-direction: column;
}